:root {
  --main-color: #011c44;
  --secondary-color: #2b7fff;
  --small-color: #4a4a4a;
  --small-text: #747272;
  --white: #fff;
  --black: #000;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  color: var(--main-color);
  background-image: url('../img/why-backgroung.png');
  background-position-y: 1334px;
  background-repeat: no-repeat;
  background-size: contain;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

address {
  font-style: normal;
}

.container {
  max-width: 1239px;
  margin: 0 auto;
  padding: 0 16px;
}

.title {
  font-family: 'Play', sans-serif;
  font-size: 64px;
  font-weight: 700;
}

.title span {
  color: var(--secondary-color);
}

.logo {
  display: inline-block;
  width: 74px;
  font-family: 'Play', sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 21px;
  color: var(--secondary-color);
  text-decoration: none;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 240px;
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
  padding: 32px 102px 32px 99px;
  width: 100%;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 56px;
}

.nav-link {
  font-size: 18px;
}

.nav-link:hover {
  color: var(--secondary-color);
  font-weight: 700;
}

.address {
  display: flex;
  align-items: center;
}

.address-list {
  display: flex;
  gap: 32px;
}

.address-link {
  display: block;
  width: 32px;
  height: 32px;
}

.hero-section {
  padding-top: 122px;
  padding-bottom: 127px;
  background-image: url('../img/hero-image.jpg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.hero-title {
  font-family: 'Play', sans-serif;
  font-size: 140px;
  font-weight: 700;
  line-height: 0.8;
  color: var(--secondary-color);
  margin-bottom: 40px;
  width: 529px;
}

.hero-main-text {
  font-size: 18px;
  margin-bottom: 16px;
}

.hero-button {
  font-size: 18px;
  font-weight: 600;
  color: var(--white);
  background-color: var(--secondary-color);
  padding: 16px 32px;
  border-radius: 32px;
  cursor: pointer;
  border: none;
  margin-bottom: 14px;
}

.hero-button:hover {
  background-color: var(--main-color);
}

.hero-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--small-color);
  width: 238px;
}

.about-section {
  position: relative;
  padding-top: 40px;
  padding-bottom: 199px;
}

.about-title {
  max-width: 529px;
  margin-bottom: 40px;
}

.about-text {
  max-width: 709px;
  line-height: 1.7;
}

.about-text-margin {
  margin-bottom: 40px;
}

.about-text span {
  font-weight: 600;
}

.photo-top {
  position: absolute;
  top: 0;
  right: 268px;
  width: 335px;
  height: 328px;
  border-radius: 50%;
  background-image: url('../img/about-photo-1.jpg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

.photo-bottom {
  position: absolute;
  bottom: 0;
  right: 92px;
  width: 335px;
  height: 328px;
  border-radius: 50%;
  background-image: url('../img/about-photo-2.jpg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

.star-icon-top {
  position: absolute;
  top: 32px;
  right: 74px;
  width: 40px;
  height: 40px;
  fill: var(--secondary-color);
}

.star-icon-center {
  position: absolute;
  top: 270px;
  right: 106px;
  width: 16px;
  height: 16px;
  transform: rotate(-22.905deg);
  fill: var(--small-text);
}

.star-icon-bottom {
  position: absolute;
  top: 336px;
  right: 395px;
  width: 64px;
  height: 64px;
  fill: var(--main-color);
}

.why-section {
  text-align: center;
  padding-top: 176px;
  padding-bottom: 96px;
}

.why-title {
  margin-bottom: 48px;
}

.why-list {
  display: flex;
  gap: 56px;
}

.why-item {
  background-color: var(--white);
  border-radius: 32px;
  box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
  padding: 24px 32px;
}

.why-text {
  line-height: 1.3;
  color: var(--black);
}

.contacts-section {
  padding-top: 96px;
  padding-bottom: 94px;
}

.footer {
  display: flex;
  background-color: var(--main-color);
  background-image: url('../img/background-line-footer.png');
  background-repeat: no-repeat;
  padding-top: 56px;
  padding-bottom: 56px;
}

.footer-link {
  font-size: 16px;
  color: var(--white);
}

.footer-link:hover {
  font-weight: 700;
}

.footer-text {
  font-size: 13px;
  color: var(--small-text);
}
